<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body bgcolor="#a3cfb4">
    <center>
      <h1>[PREDICTION]</h1>
      <h1>Mobile Price Range Predict</h1>
      <h2>Predicted Price Range: {{data}}</h2>
      {%if data == 0%}
      <h1>Low Cost Mobile Phone</h1>
      {%endif%} {%if data == 1%}
      <h1>Medium Cost Mobile Phone</h1>
      {%endif%} {%if data == 2%}
      <h1>High Cost Mobile Phone</h1>
      {%endif%} {%if data == 3%}
      <h1>Very High Cost Mobile Phone</h1>
      {%endif%}

      <a href="/">Go back to homepage</a>
    </center>
  </body>
</html>
